*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h3,
p {
    margin-bottom: 0;
}

input,
button {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

.navbar {
    background-color: #fff !important;

    .nav-link {
        font-weight: 500;
        font-size: 17px;

        &.active {
            color: #40e0fb;
        }
    }
}

.btn-custom {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 42px;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    user-select: none;

    &:hover {
        opacity: 0.8;
    }

    & + .btn-custom {
        margin-left: 20px;
    }
}

.btn {
    &-outline {
        border: 1px solid #999;
    }

    &-primary {
        border-color: transparent;
        color: #fff;
        background-color: #0dcece;

        &:hover {
            border-color: transparent;
            background-color: #0dcece;
            opacity: 0.9;
        }
    }

    &-add-new {
        color: #fff;
        background-color: #0dcece;
    }

    &-delete,
    &-update,
    &-view-user {
        border-radius: 999px;
    }

    &-delete {
        color: #d33a2c;
        background-color: #ffe7e7;
    }

    &-update {
        color: #fff;
        background-color: rgba($color: #ff6d24, $alpha: 0.8);
    }

    &-view-user {
        color: green;
        background-color: #c0fad6;
    }
}

.table {
    margin-top: 20px;
}

.no-data {
    margin-top: 50px;
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: #ccc;
}

.pagination {
    display: flex;
    justify-content: center;
}

.page-item:first-child .page-link {
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

.page-item:last-child .page-link {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 1s 9999s;
}

.btn + .btn {
    margin-left: 20px;
}
