.admin {
    &-container {
        display: flex;
    }

    &-content {
        overflow: hidden;
    }

    &-header {
        padding-top: 14px;
        height: 56px;

        display: flex;
        align-items: center;

        img {
            width: 100px;
            height: 100%;
            cursor: pointer;
        }
    }
}
