.hero {
    margin-top: 25px;
    user-select: none;

    &-left {
        &__heading {
            margin-bottom: 0;
            margin-top: 12px;
            color: #010101;
            font-size: 70px;
            font-weight: 700;

            & span {
                background: linear-gradient(269deg, #a6cf4a 16.43%, #ffd05a 37.58%, #fd60a9 54.54%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 70px;
                font-weight: 800;
            }
        }

        &__desc {
            margin-top: 30px;
            max-width: 444px;
            color: #717171;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px; /* 150% */
        }

        &-top {
            display: flex;
            align-items: center;
            gap: 13px;

            &-btn {
                min-width: 100px;
                border-radius: 16px;
                background: #fb6238;
                height: 28px;

                color: #fff;
                font-size: 12px;
                font-weight: 700;
            }

            span {
                color: #010101;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 2.94px;
            }
        }
    }

    &-right {
        height: 645px;
        position: relative;

        &::after {
            content: '';
            width: 555px;
            height: 100%;
            position: absolute;
            top: 0;
            right: -108px;
            border-top-left-radius: 20%;
            background: linear-gradient(71deg, #ff60a8 22.92%, #ffd05a 62.85%, #a6cf4a 96.68%);
        }

        &-img {
            width: 326px;
            height: 343px;
            object-fit: cover;
            position: absolute;
            top: 40%;
            left: 47%;
            transform: translate(-50%, -50%);
            z-index: 4;
        }

        &-decor {
            width: 85px;
            height: 89px;
            position: absolute;
            right: 100%;
            bottom: 111px;
            z-index: 5;
        }

        &-circle,
        &-circle::after,
        &-circle::before {
            background: linear-gradient(142deg, rgba(255, 255, 255, 0.58) 1.8%, rgba(255, 255, 255, 0.66) 99.75%);
            backdrop-filter: blur(65.02783203125px);
            border-radius: 50%;
            position: absolute;
        }

        &-circle {
            width: 604px;
            height: 603px;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            z-index: 1;
        }

        &-circle::after,
        &-circle::before {
            border: 1px solid #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &-circle::after {
            content: '';
            width: 490px;
            height: 489px;
            z-index: 2;
        }

        &-circle::before {
            content: '';
            width: 389px;
            height: 388px;
            z-index: 3;
        }
    }

    &-btn {
        height: 50px;
        margin-top: 40px;
    }
}
