.fixed {
    position: sticky !important;
    top: -8px;
    left: 0;
    z-index: 10;
}

.logo {
    width: 40px;
    height: 40px;
}

.header {
    &-actions {
        display: flex;
        align-items: center;
    }
}
