.login {
    &-container {
        display: flex;
        align-items: center;
    }
}

.form {
    &-media {
        flex: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-media,
    &-auth-wrapper {
        height: 100vh;
        flex: 1;
    }

    &-auth-wrapper {
        padding-top: 75px;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        &.form-auth-wrapper-signup {
            padding-top: 36px;
        }
    }

    &-auth-inner {
        padding: 30px;
        width: min(400px, 100%);
        border-radius: 14px;
        border: 1px solid #ccc;
        background-color: #fff;
        position: relative;
    }

    &-title {
        margin-bottom: 0;
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        color: #32ccbc;
    }

    &-group {
        margin-top: 20px;
    }

    &-text-input {
        padding: 0 12px;
        border-radius: 6px;
        height: 40px;
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
    }

    &-input {
        flex: 1;
        height: 100%;

        &::placeholder {
            font-size: 14px;
            color: #999;
        }
    }

    &-icon {
        margin-left: 20px;
        width: 24px;
        height: 24px;

        &-loading {
            width: 24px;
            height: 24px;
            animation: spinner 0.6s linear infinite;
        }
    }

    &-forgotpassword {
        margin-top: 8px;
        text-align: right;
        display: block;
        font-size: 14px;
        color: rgb(12, 191, 235);

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &-signup-order {
        margin-top: 25px;
        display: block;
        text-align: center;
        font-size: 14px;
        color: #888;
    }

    &-submit {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 999px;
        height: 40px;
        background-color: red;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        background-color: #32ccbc;

        &:hover {
            opacity: 0.9;
        }

        &:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    &-socials {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            width: 40px;
            height: 40px;
            border-radius: 50%;

            &:hover {
                opacity: 0.9;
            }

            &:nth-child(1) {
                background-color: #3c5b9a;
            }

            &:nth-child(2) {
                background-color: #1ba1f1;
            }

            &:nth-child(3) {
                background-color: #e6433a;
            }
        }
    }

    &-bottom {
        margin-top: 6px;
        padding: 8px;
        display: flex;
        justify-content: center;

        &:hover {
            text-decoration: underline;
        }
    }

    &-back {
        margin-top: 6px;
        display: inline-flex;
        align-items: center;
        gap: 12px;
        color: #666;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }

        &:hover &-icon {
            transform: translate(-4px, 0);
        }

        &-icon {
            transition: transform 0.3s;
        }
    }
}

@keyframes spinner {
    0% {
        rotate: 0;
    }
    100% {
        rotate: 360deg;
    }
}
