.sidebar {
    height: 100vh;

    &-header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        &-icon {
            color: #00ffff;
            font-size: 38px;
        }
    }

    &-icon-toggle {
        color: #999;
        width: 24px;
        height: 24px;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    &-title {
        padding: 9px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
    }

    &-footer {
        padding: 16px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        cursor: pointer;
    }
}

// color text
.pro-sidebar {
    color: rgba($color: #fff, $alpha: 0.7);
}

// background image
.pro-sidebar > .pro-sidebar-inner > img.sidebar-bg {
    opacity: 0.5;
}

// background submenu
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
    background-color: rgba($color: #000000, $alpha: 0.3);
}

// background icon
.pro-sidebar
    .pro-menu.shaped
    .pro-menu-item
    > .pro-inner-item
    > .pro-icon-wrapper {
    background-color: transparent;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
    padding-left: 0;
}

.pro-sidebar
    .pro-menu
    .pro-menu-item.pro-sub-menu
    .pro-inner-list-item
    .pro-inner-item {
    padding: 12px 40px;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
    border-bottom: 1px solid rgba(173, 173, 173, 0.5);
}
